.d-flex{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.btn{
  background-color: rgb(28, 26, 26) !important;
  color: white !important;
  font-size: 20px;
  font-weight: 400;

}
.h2{
  color: rgb(28, 26, 26);
  font-weight: 600;
  text-shadow: 2px 2px 10px rgb(74, 70, 70) ;
}
textarea{
  background-color: rgb(74, 70, 70);
  border: 1px solid black !important;
  border-radius: 10px;
}
.main{
  background-color: rgb(64, 58, 58);
  overflow-y: scroll;
  height: auto;
  margin: 1rem;
  padding: 10px;
  display: flex;
}
.main > div{
  background-color: rgb(74, 70, 70);
  text-align: justify;
  padding: 0.5rem;
  width: 49%;
}