body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    padding: 5px;
    color: white !important;
}
#root{
    height: 100vh;
    max-width: 500px;
    padding: 5px;
    background-color: rgba(6, 3, 3, 0.895);
    margin: 0 auto;
}